{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm delete| Announcement</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h4>DO you want to delete</h4>
    <form method="POST" action="{% url 'delete_announcement' announcement.id %}" onsubmit="return confirm('Are you sure you want to delete this announcement?');">
  {% csrf_token %}   
  <button type="submit" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i> Delete</button>
</form>
</body>
</html>